


@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  src: local('Noto Sans'), local('NotoSans'), url(NotoSans-Regular.ttf) format('truetype');
}
/*
div{
    background: rgba(120, 110, 140, 0.1);
}*/

div.goLeft {
  position:fixed;
  width: 15vw;
  height: 100vh;
}
html{
	background: #fff;
}

body {
  font-family: 'Noto Sans';
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: .35em;
}

h1 { font-size: 1.2em; }
h2 { font-size: 1.18em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.12em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

* {
  word-break: break-word;
}

a:link, a:visited, a:active {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

/* TING TING TING */

.text_wrapper{
    width: 42vw;
}

.ts{
    margin-bottom: .5em;
}

.sk0rg{
    clear: left;
}

.reply{
    width: 100%;
    height: 100%;
}

.backlinks{
    clear: left;

}

#profile_wrapper, #profiles_wrapper{
   /* TODO: hmmm width: 75%;
    height: 170px;*/

    margin-bottom: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    
}

#profiles_wrapper{
    margin-bottom: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;

}

#profile_image, #profiles_image{
    width: 20%;
    float: left;
}


#description_wrapper{
    padding: 1%;
    width: 38%;
    height: 150px; 
}

#profile_name, #profiles_name{
    width: 100%;
    height: 15px;

}

#profile_location, #profiles_location{
    width: 100%;
    height: 15px;
    color: darkgrey;
    
}

#profile_description, #profiles_description{
   height: 130px;

}

#skills_header{
    width: 342px;
    background: grey;
    color: white;
    padding-left: 8px;
}

#skill_list{
    width: 40%;
}

#skill_plus, #new_insert{
    background: lightgreen;
}

#profile_update{
    margin-top: 15px;
}

#profile_inserts{
    height: 85px;
}

.padded{
    padding-bottom: .5em;
}

.search_wrapper{
    height: 50px;
    color: black;
}

.profile_subscriptions{
    height: 60px;
    width: 60%;
    border-bottom: 2px solid black;
    margin-left: 15%;
    margin-top: 20px;
}
 
.description{

    width: 24vw;
    min-width: 200px;
}

.connections_image{
    margin-right: 5px;
}

.skill_list{
    margin-left: .16vw;
    width: 46vw;
}

.skill_object, .inserts_object{
    width: 100px;
    min-height: 18px;
    margin-right: 15px;
    margin-top: 5px;
    padding-left: 5px;
    background: #fff;
    border: 2px solid #cc0066;
    border-radius: 2px;
}

.skill_object_inline{
    width: 105%;
    min-height: 18px;
    margin-top: 5px;
    margin-left: -7px;
    margin-bottom: -2px;
    background: #fff;
    border: 2px solid lightgreen;
}

.skill-filter{
    width: 42vw;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.green{
    background: lightgreen;
    margin-left: .16vw;
    clear: left;
    border-color: green;
}

.orange{
    background: white;
    color: black;
    margin-left: .16vw;
    width: initial;
    border-color: orange;
}

.black{
    background: white;
    color: black;
    margin-left: .16vw;
    width: initial;
    border-color: black;
}

.connections_image{
    width: 30px;
    height: 30px;
}

.filter_object{
    width: 80px;
    margin-right: 15px;
    margin-top: 5px;
    padding-left: 5px;
    background: #fff;
    border: 2px solid grey;
}

.pencil{
    width: 12px;
    height: 12px;
}


.float{
    float: left;
}

.name{
    color: magenta;
    font-weight: bold;    
}


.button
{
    width:90p; height:30px;
    color: black;
    position:relative;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    font-size:1em;
    border: none solid #333; }

.button:active{
    opacity:0.7;
}

.key{
    width:90%; 
    height:100%; 

    padding-left:10%; 

}

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

}

.column {
  display: flex;
  flex-direction: column;
  min-height:0px;
  font-size: 11px ;
}

.column.profile{
    width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  min-height:0px;
}



.row__message{
  min-height: 0px;
}

.end {
  justify-content: flex-end;
}

/*.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

.no-shrink {
  flex-shrink: 0;
}

.expand {
  justify-content: space-between;
}

.scroll-y {
  overflow-y: auto;
  min-height: 0px;
}

.scroll-x {
  overflow-x: auto;
  min-width: 0px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wide {
  width: 100%;
}

p {
  margin-top: .35ex;
}

hr {
  border: solid #eee;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-bottom: .9em;
}

input, textarea {
  border: none;
  border-radius: .2em;
  font-family: sans-serif;
}

input:focus, .compose:focus, .message:focus, button:focus {
  outline: none;
  border-color: #0088cc; 
  box-shadow: 0 0 4px #0088cc;
}

textarea {
  padding: .5em;
  font-size: 1em;
  float: left;
  height: 12vh;
  width: 44vw;
  border: 1px solid lightgrey;
}

#profile1{
   width: 42vw;
  min-height: 15vw;
    position: relative;
}

textarea:focus {
  outline: none;
  border-color: none;
}

button {
  width: 90px;
  background: #fff;
  color: #666;
  border: 1px solid #bbb;
  border-radius: .5em;
  padding: .7em;
  margin-top: .5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7em;
}

button:hover {
  background: #ccc;
  border: 1px solid #bbb;
}

.float{
    float: left;
}

.floatright{
  float: right;
}

.menu {
  position: absolute;
  bottom: .5em;
  right: .1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: .2em;
  z-index: 5;
}

/* scrolling feeds, threads */

.scroller {
  width: 81vw;
  margin-left: 19vw;
  overflow-x: hidden;
}

.scroller__wrapper {
  flex: 1;
  min-height: 100vh;
}

.scroller__wrapper__overview {
  flex: 1;
    width: 43vw;

}



.scroller__content {
    min-height: 100vh;
    clear: left;
    margin-left: .16vw;
    margin-right: 15vw;

}

.scroller__content__overview {
    clear: left;
    margin-left: .16vw;
    margin-right: 15vw;
}



.scroller__content__filter {
    clear: left;

    margin-right: 15vw;
}

.userfilter_wrapper{
  
  width: 26vw;
}

.userfilter_description{
    margin-left: .3em;
}

/* compose */

.compose {
  width: 50vw;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: .16vw;
  border: 1px solid #f5f5f5;
}

.compose button {
  float: left;
  clear: left;
}

/* messages */

.message {
    clear: left;
  position: relative;
  flex-basis: 0;
  flex: 1;
  margin-top: .25em; 
  margin-bottom: .25em;
  padding: .2em;
  border-bottom: 1px solid #f5f5f5;

  background: white;
  clear: left;
}


.message:hover {
  background: #f9f9f9;
}

.message--mini {
  font-size: 1em;
  margin: 0;
  padding: .2em;
  border: none;
  opacity: 0.5;
  background: inherit;

}

.message_content div > span {
  font-size: 0.9em;
  margin-bottom: 0.7em;
  display: block;
  color: #888;
}

.message_content--mini div > span {
  display: inline-block;
}

.message_content div > span a {
  color: #005d8c;
}

.message_meta input {
  font-size: .8em;
}

.message_meta {
  margin-left: auto;
  border-top: 2px solid black;
}

.message_meta > * {
 /* margin-left: .5ex;*/
}

.

.message_actions {
  /*position: absolute;
  bottom: 0; right: 0;*/
  margin-right: .5ex;
  margin-bottom: .5ex;
  clear: left;
}

.title {
 /* padding: .5ex;*/
}

.message img {
  max-width: 100%;
}

.message > .title > .avatar {
  margin-left: 0;

}

.avatar{
    margin-right: .5em;
    float: left;
}

.message_content {
  padding-left: .3em;
  padding-right: .5ex;
}

.timestamp{
    float: right;
}

.actions{
    margin-top: 2vh;
    border-top: 2px solid #ccc;
    margin-left: .3em;
    width: 42vw;
}


.actions > * {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  float: left;
}

.actions > :not(:last-child) {
 /* border-right: 2px solid #eee;*/
  padding-right: 5px;
}

.emoji {
  height: 1em;
  width: 1em;
  vertical-align: top;
}


/* -- suggest box */

.suggest-box > * {
  display: block;
}

.suggest-box ul {
  padding: 0;
  list-style-type: none;
  padding-left: 0;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 2px;
}

.suggest-box .selected {
  background: white;
}

.suggest-box {
  width: max-content;
  background: #white;
  border-radius: 1em;
}

.inquiry_skills{
    width: 100%;
    padding-bottom: .25em;
    

}

    .message {
    clear: left;
  position: relative;
  flex-basis: 0;
  margin-top: .25em; 
  margin-bottom: .25em;
  padding: .2em;
  border-bottom: 1px solid #f5f5f5;

  background: white;
  clear: left;
}
    border-bottom: 2px solid grey;
}

/* emoji */
.suggest-box img {
  height: 20px;
  width: 20px;
}

/* avatar */

.avatar--large, 
.avatar--thumbnail, 
.avatar--fullsize {
  border: 1px solid #eee;
  float: left;

}

.avatar--large {
  width: 15vw;
    max-width: 160px;
  height: 15vw;
    max-height: 160px;
  position: absolute;
    top: 0px;
    left: 0px;
}

.avatar--thumbnail {
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin-right: .5ex;
}

.avatar--fullsize {
  width: 50%;
  float: none;
}

input[type="file" i]{
    float: left;
    width: 90px !important;
    max-width: 15vw !important;
    margin-top: .5em;
    opacity: 0.8 !important;
    overflow: hidden !important;
    
}

.username{
    color: #0088cc;
    float: left;
    margin-right: .8vw;
}

.skill_wrapper{
    width: 47vw;
    height: 30vh;
    float: left;
    overflow:auto;
}

.profile {
  padding-top: .5ex;
  overflow: auto;
 
}

.profile input {
  width: 20vw;
  float: left;
}

.profile__info {
  margin-left: .16vw ;
}

.aboutself {
    height: 10vw;
    clear: left;
}

.compose_wrapper{
    margin-left: -.16vw;
}

.clear{
    clear: left;
}


#follow_label{
    color: #0088cc;
}

#follow_state{
    color: lightgreen;
}

.update_profile{
    float: left;
    clear:left;
}

.profile_headline, .profile_headline_short{
    margin-top: 2vh;
    border-bottom: 2px solid black;
    width: 50vw;
    font-weight: bold;

}

.profile_headline_short{
    width: 42vw;
}

.profile_headline.inserts{

}

.headline_message{
    border-top: 2px solid black;
}

.headline_content{
    border-color: #ccc;
}

.profile__relationships{
    clear: left;
    margin-left: .16vw;
    width: 50vw;
}

.profile__friendss{
    float: left;
}
/* lightbox - used in message-confirm */

.lightbox {
  padding: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: 17vw;
  left: 0px;
  width: 66vw;
  background: #f5f5f5;
  border: 2px solid black;
  z-index: 2;
}

/* searchprompt */

.searchprompt {
  float: left;
  width: 85%;
  height: 2em;
  max-height: 2em;
  margin-top: .3em;
  border-radius: 1em;
  padding-left: .2em;
  margin-left: 1em;
  margin-right: 1em;
}

/* TextNodeSearcher highlights */

.highlight {
  background: #f5f5f5;
}

/* avatar editor */

.hypercrop__canvas {
  width: 100%;
}

/* gitssb */

.git-table-wrapper {
  max-height: 12em;
  overflow: auto;
  word-break: break-all;
  margin: 1em 0;
}

.git-table-wrapper table {
  width: 100%;
}

/* --- network status --- */

.status {
  width: .7em;
  height: .7em;
  margin-top: 1em;
  border-radius: 100%;
  background: #08c;
}

.error {
  background: red;
}

/* tabs */

.header {
  background: lightblue;
  border-bottom: 1px inset;
  flex-shrink: 0;
}

.header__tabs {
  width: 100%; 
  min-width: 0px;
  height: calc(100vh - 3em);
}

.header__search{
  height: 2.5em;
}

/* --- hypertabs ------- */

.hypertabs__tabs {
  min-width: 0px;
  width: 100%;
}

.hypertabs__tab {
  overflow-x: hidden;
  min-width: 0px;
  width: 100%;
}

.hypertabs__button {
  overflow-x: hidden;
  min-width: 0px;
  width: 100%;
}

.hypertabs__tab {
  color: black;
  background: lightblue;
  border-top-left-radius: 5px;
  border-bottom: none;
  padding-top: .56em;
  padding-left: .5em;
  padding-bottom: .5em;
  border-bottom: 2px solid black;
  width: 100%; 
}

.hypertabs__tab > a {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  font-size: .9em;
}

.hypertabs--selected {
  display: flex;
  font-weight: bold;
  background: #eee;
  border-top-right-radius: 5px;
  z-index: 1;
}

.hypertabs__x  {
  display: none; 
  transform: translate(-4px, -3px);
}

.hypertabs--selected .hypertabs__x {
  display: block;
}

/* progress bar */

.hyperprogress__bar {
  background: darkgrey;
}
.hyperprogress__liquid {
  background: lightblue;
}

.hyperprogress_wrapper{
    width: 50vw;
    height: 100px;
}

.invite_accept{
    flex: none;
}

img{
    display:none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
* {
    font-size: 2vw;
    }
button {
    width: 25vw;
    height: 10vw;
    }
}
